#MechanicalFlex{
    position:absolute;
    height : 45%;
    width :100%;
    left: 0px;   
    
}

body{
    background-color: azure;
}

.head{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background-color: navy;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.wrapper{
    display: flexbox;
    padding-top: 340px;
    justify-content: center;
}

.Mechanical{
    max-width: 100%;
    overflow : hidden;
    font-weight: 500; 
}

.Mechanical input{
    display : none;
}

.Mechanical label{
    position: relative;
    font-weight: 600;
    background :aliceblue;
    box-shadow : 0 5px 11px 0 rgba(0.6, 0, 0, 0.5), 0 4px 11px 0 rgba(0,0,0,.08);
    color : blue;
    display : block;
    margin-bottom: 10px;
    cursor : pointer;
    padding : 15px;
    border-radius: 4px;
    z-index: 1;
}

.Mechanical-description{
    max-height : 1px;
    overflow : hidden;
    border-radius : 4px;
    line-height: 1.4;
    position : relative;
    top : -100%;
    opacity: 0.5;
    transition : all 0.3s ease;
}

.Mechanical input:checked ~ .Mechanical-description{
    max-height: 3000px;
    padding-bottom: 25px;
    background : cadetblue;
    box-shadow : 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    opacity : 1;
    top : 0;
}

.Mechanical-description{
    padding-left : 15px;
    padding-right: 15px;
}

.container{
    display:flex;
    flex-wrap : wrap;
    position: relative;  
    padding : 30px;
    justify-content: center;
}

.SemesterLS{    
    position: relative;
    height:auto;
    width: 550px;
    height : 270px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    overflow: hidden;
}

.SemesterRS{
    position : relative;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    height: auto;
    width: 550px;
    height: 270px;
    margin : 10px;
    overflow : hidden; 
}

table{
    
    position : absolute;
    border-collapse : collapse;
    border-spacing: 0;
    border-radius: 0 2px 12px yellow;
    background : aliceblue;
    text-align: left;
    width: 550px;
}

th,td{
    padding : 3px 6px;
}

th{
    background : lightskyblue;
    color : white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

td{
    font-family: 'Open Sans', sans-serif;
}

tr:nth-child(odd){
    background-color: gainsboro;
}

.wrapper1{
    display: flexbox;
    padding-top: 0px;
    justify-content: center;
}

.MCE{
    max-width: 100%;
    overflow : hidden;
    font-weight: 500; 
}

.MCE input{
    display : none;
}

.MCE label{
    position: relative;
    font-weight: 600;
    background :aliceblue;
    box-shadow : 0 5px 11px 0 rgba(0.6, 0, 0, 0.5), 0 4px 11px 0 rgba(0,0,0,.08);
    color : blue;
    display : block;
    margin-bottom: 10px;
    cursor : pointer;
    padding : 15px;
    border-radius: 4px;
    z-index: 1;
}

.MCE-description{
    max-height : 1px;
    overflow : hidden;
    border-radius : 4px;
    line-height: 1.4;
    position :relative;
    top : -100%;
    opacity: 0.5;
    transition : all 0.3s ease;
}

.MCE input:checked ~ .MCE-description{
    max-height: 3000px;
    padding-bottom: 25px;
    background : cadetblue;
    box-shadow : 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    opacity : 1;
    top : 0;
}
