.program{
    box-sizing: unset;
}

#ProgramsHeader{
    display: flex;
    background-color: navy; 
    height: 80px;
    align-items: center;
    justify-content: center;
}

body{
    background-color:azure;
}

h1{
    color: white;
}

#container1{
    display: flex;
    position: relative;  
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
}

#Electrical{    
    position: relative;
    height: auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 5.5);
    transition: 0.5s;
    cursor: pointer;
}

#Electrical:hover{
    transform: scale(0.95);
    opacity: 0.8;
}

#EE{
    height :290px;
    width:420px;
    padding-top: 20px;
    padding-bottom: 10px;    
}

#ME{
    height :290px;
    width:420px;
    padding-top: 20px;
    padding-bottom: 10px;     
}

#Mechanical{
    position: relative;
    height: auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 5.5);
    transition: 0.5s;
    cursor: pointer;
}

#Mechanical:hover{
    transform: scale(0.95);
    opacity: 0.8;
}

#container2{
    display: flex;
    position: relative;  
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
    padding-top: 30px;
}

#Civil{    
    position: relative;
    height: auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 5.5);
    transition: 0.5s;
    cursor: pointer;
}

#Civil:hover{
    transform: scale(0.95);
    opacity: 0.8;
}

#CivE{
    height :290px;
    width:420px;
    padding-top: 20px;
    padding-bottom: 10px;   
}

#CE{
    height :290px;
    width:420px;
    padding-top: 20px;
    padding-bottom: 10px;    
}

#Chemical{
    position: relative;
    height: auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 5.5);
    transition: 0.5s;
    cursor: pointer;
}

#Chemical:hover{
    transform: scale(0.95);
    opacity: 0.8;
}

a{
    text-decoration: none;
    color: navy;
}