*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.link{
    position: relative;
    width: 100%;
    z-index: 1;
}

.link.fixed{
    position: fixed;
    top:0;
    z-index: 1000;
}

.top.hidden{
    transform: translateY(-100%);
}

.top{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color:#033747;
    position: relative;
    padding-left: 20px;
}

.top .logo img{
    float: left;
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
}

.logo{
    width: 100%;
    position: relative;
}

.top .title p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    padding: 0px 20px;
    position: relative;
}

.link{
    background-image: linear-gradient(darkslategray,#033747);
    height: 60px;
    width: 100%;
    position: relative;
}
.main-menu{
    padding: 20px;
    list-style: none;
    float: left;
    padding-top: 10px;
    position: relative;
}

.main-menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1.5;
}

.main-menu li{
    float: left;
    padding: 0px 10px;
    padding-top: 7px;
    position: relative;
}

.main-menu a:hover{
    cursor: pointer;
    color: skyblue;
}

.image img{
    padding: 0;
    width: 100%;
    height: 100%;
}

.image{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.events{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.events .header h1{
    text-align: center;
    color: white;
}

.events .header{
    height: 75px;
    background-color: navy;
    padding-top: 20px;
}

.events .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.events .header{
    width: 1500px;
    text-align: center;
    padding-bottom: 50px;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.convocation{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.quote{
    color: navy;
    font-weight: bold;
    position: relative;
}

.quote a{
    color: darkgoldenrod;
    text-decoration: none;
    letter-spacing: 1.5;
}

.news .header h1{
    text-align: center;
}

.news{
    background-color: cornflowerblue;
    position: relative;
    padding-top: 50px;
}

footer{
    background-color: #033747;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: Arial;
}

h3{
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.5;
}

.contact p{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    letter-spacing: 1.5;
    padding: 7px;

}

.important-links ul{
    text-align: center;
    font-size: 20px;
}

.important-links ul li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.important-links ul li::before{
    content: '';
    position: relative;
    transform: translate(-50%,50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s ;
}

.important-links ul li:hover::before{
    width: 70px;
}

.important-links ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

.important-links ul li a:hover{
    opacity: 0.8;
    transform: scale(0.9);
    color: #f18930;
}

.bottom{
    background-color:cadetblue;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0px;
}

.bottom p{
    color:#033747;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.contact{
    width: 50%;
}

.important-links{
    width: 50%;
}

.latest-news ul li{
    font-size: 20px;
    text-align: center;
    color: #343434;
}

.latest-news ul li a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.latest-news ul li a:hover{
    color: white;
}

.facilities .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.card{
    width: 450px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 5.5);
    margin: 20px;
    transition: 0.3s;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s;
}

.card img:hover{
    opacity: 0.8;
}

.card .content h3{
    font-size: 25px;
    color: navy;
}

.facilities .header h1{
    text-align: center;
    color: white;
}

.facilities .header{
    height: 75px;
    background-color: navy;
    padding-top: 20px;
    width: 100%;
}

.facilities{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
}

.events .card{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.card .content h3{
    text-transform:uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
}

.card .content p{
    font-size: 18px;
    font-family: Arial;
    text-align: justify;
    padding-bottom: 20px;
}

.card:hover{
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 300px;
}

.card .button{
    padding: 25px;
}

.card .button button{
    padding: 8px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    cursor: pointer;
}

.card .button button:hover{
    opacity: 0.6;
    transform: scale(0.9);
}

.facilities .card{
    transition: 0.3s;
}

.facilities .card:hover{
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    transform: scale(1.05);
}

.user-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container .slider .card-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
} 

.container .slider .card-list .card-item{
    width: 300px;
    height: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.container .slider .card-list .card-item h2{
    color: navy;
    margin-top: 5px;
}

.container .slider .card-list .card-item p{
    font-size: 20px;
    margin-top: 5px;
}

.container .slider .card-list .card-item button{
    color: white;
    border-color: red;
    background-color:red;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    letter-spacing: 1.5;
    margin-top: 5px;
}

.container .slider .card-list .card-item button:hover{
    color: white;
    background-color: navy;
    border-color: navy;
    cursor: pointer;
}

.container .header{
    height: 75px;
    background-color: navy;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.container .header h1{
    text-align: center;
    color: white;
}

.container .slider .card-list .card-item img:hover{
    opacity: 0.9;
}

