.head{
    background-color: navy;
    text-align: center;
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
}

.img img{
    width: 100%;
    height: auto;
}

.content{
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    text-align: justify;
}

.head h1{
    color: white;
}

.content h2{
    color: navy;
}

.content p{
    font-size: 20px;
    letter-spacing: 1.5;
}

.content li{
    font-size: 20px;
    letter-spacing: 1.5;
}



